<template>
  <div class="bg-gray-900 min-h-screen">
    <Navbar />

    <div class="mx-36 mb-4 border-gray-200 dark:border-gray-700">
      <ul
        class="flex flex-wrap -mb-px text-sm font-medium text-center"
        id="default-tab"
        data-tabs-toggle="#default-tab-content"
        role="tablist"
      >
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 border-b-2 rounded-t-lg"
            id="profile-tab"
            data-tabs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Fatigue
          </button>
        </li>
        <li class="me-2" role="presentation">
          <button
            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
            id="dashboard-tab"
            data-tabs-target="#dashboard"
            type="button"
            role="tab"
            aria-controls="dashboard"
            aria-selected="false"
          >
            Focus Level
          </button>
        </li>
      </ul>
    </div>
    <div id="default-tab-content">
      <div
        class="mx-36 hidden p-4 rounded-lg bg-gray-800"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <p class="text-gray-300 text-xl ml-52 mb-4">
          Fatigue Level : {{ fatigueLevel }}%
        </p>
        <div class="flex flex-row">
          <!-- Flex container for side-by-side layout -->

          <!-- Chart Container -->

          <div class="flex-1 flex justify-center items-center">
            <!-- Chart container as a flex item -->
            <div class="max-w-sm">
              <Doughnut
                class="h-auto max-w-full"
                :data="data"
                :options="options"
              />
              <!-- Alternatively, you can use the Bar chart or any other chart -->
            </div>
          </div>

          <!-- Card Container -->
          <div class="flex-1">
            <!-- Card container as a flex item -->
            <div
              class="max-w-sm p-6 rounded-lg shadow bg-gray-800"
              v-for="item in stats"
              :key="item.name"
            >
              <div class="flex justify-between mb-1">
                <span
                  class="text-base font-medium text-blue-700 dark:text-white"
                  >{{ item.name }}</span
                >
                <span
                  class="text-sm font-medium text-blue-700 dark:text-white"
                  >{{ item.text }}</span
                >
              </div>
              <div
                class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700"
              >
                <div
                  class="bg-blue-600 h-2.5 rounded-full"
                  :style="{ width: item.value + '%' }"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-row items-center my-8 px-6">
          <div class="flex flex-col gap-4">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              @click="startStream"
            >
              Start Stream
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              @click="endStream"
            >
              End Stream
            </button>
          </div>
          <div class="flex justify-around flex-grow">
            <div class="flex flex-col items-center text-gray-300">
              <p>Current Tilt Angle</p>
              <p class="text-gray-300 text-xl mb-4">
                {{ tiltAngle.toFixed(1) }} Degree
              </p>
            </div>
            <div class="flex flex-col items-center text-gray-300">
              <p>Status</p>
              <p class="text-gray-300 text-xl mb-4">
                {{ postureLabel != '' ? postureLabel : '-' }}
              </p>
            </div>
          </div>
        </div>

        <a
          href="#"
          class="block w-full mt-4 p-6 rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700"
        >
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Details
          </h5>
          <div
            class="p-4 mb-4 text-sm rounded-lg bg-gray-900 text-green-400"
            role="alert"
          >
            You have achieved a solid 8 hours of sleep, akin to unlocking a
            green light for your well-being. It's your personalized stamp of
            approval, signifying that you invested in a good night's rest. This
            positive sign serves as a beacon, reassuring you that you were on
            track for a day fueled by energy and focus.
          </div>
          <div
            class="p-4 mb-4 text-sm rounded-lg bg-gray-900 text-red-400"
            role="alert"
          >
            Having worked for 6h consecutive is a concerning sign for your
            well-being. Consider taking a break and prioritizing your rest to
            ensure you maintain a balanced and sustainable approach to your
            tasks.
          </div>
          <div
            class="p-4 mb-4 text-sm rounded-lg bg-gray-900 text-yellow-400"
            role="alert"
          >
            Your current productivity stands at 50%, signaling an opportunity
            for improvement. Explore the provided advice to enhance your
            efficiency and effectiveness. Implementing these suggestions can
            help you optimize your workflow and achieve a higher level of
            productivity.
          </div>
        </a>
      </div>
      <div
        class="mx-36 hidden p-4 rounded-lg bg-gray-800"
        id="dashboard"
        role="tabpanel"
        aria-labelledby="dashboard-tab"
      >
        <div class="flex flex-row">
          <!-- Flex container for side-by-side layout -->

          <!-- Chart Container -->

          <div class="flex-1 flex justify-center items-center">
            <!-- Chart container as a flex item -->
            <div>
              <p class="text-gray-300 text-2xl text-center mb-4">
                Focus Level Over Time
              </p>
              <div class="chart-container">
                <Line :data="lineData" :options="lineOptions" />
              </div>
            </div>
          </div>
        </div>

        <a
          href="#"
          class="block w-full p-6 rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700"
        >
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            Details
          </h5>
          <div
            class="p-4 mb-4 text-sm rounded-lg bg-gray-900 text-gray-400"
            role="alert"
          >
            The zenith of your concentration was notably observed at 12:00 noon,
            marking a phase during which cognitive efficacy reached its acme.
            Tasks were executed with heightened precision, and intellectual
            acuity was notably augmented.
          </div>
          <div
            class="p-4 mb-4 text-sm rounded-lg bg-gray-900 text-gray-400"
            role="alert"
          >
            Conversely, a discernible decline in concentration transpired by
            2:00 pm. This temporal shift in focus serves as an essential
            insight, warranting strategic planning to harness optimal
            productivity during periods of heightened cognitive acumen.
          </div>
          <div
            class="p-4 mb-4 text-sm rounded-lg bg-gray-900 text-gray-400"
            role="alert"
          >
            Explore techniques such as the Pomodoro Technique, which involves
            focused work intervals followed by short breaks. This can improve
            concentration and prevent burnout.
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<style>
.chart-container {
  width: 600px; /* Adjust as needed */
  height: 400px;
}
</style>
<script lang="ts">
import {
  ArcElement,
  CategoryScale,
  Chart,
  Chart as ChartJS,
  Legend,
  LineElement,
  LinearScale,
  PointElement,
  Title,
  Tooltip,
} from 'chart.js';
import io from 'socket.io-client';
import { Doughnut, Line } from 'vue-chartjs';

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
);

ChartJS.register(ArcElement, Tooltip, Legend, Title);

export default {
  name: 'FatigueGaugeChart',
  components: {
    Doughnut,
    Line,
  },
  data() {
    let fatigueLevel = 20; // Your dynamic value
    let productivity = 50;
    let sleep_hour = 8;
    let work_hour = 6;

    const remaining = 100 - fatigueLevel;

    // Plugin to display the value in the center
    const centerTextPlugin = {
      id: 'centerText',
      afterDraw(chart: Chart) {
        // Type annotation for chart
        const ctx = chart.ctx;
        ctx.save();
        const centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
        const centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;
        ctx.font = '20px Arial';
        ctx.fillStyle = 'black';
        ctx.textAlign = 'center';
        ctx.fillText(`${fatigueLevel}%`, centerX, centerY);
        ctx.restore();
      },
    };

    return {
      productivity: productivity,
      sleep_hour: sleep_hour,
      work_hour: work_hour,
      tiltAngle: 0,
      postureLabel: '',
      data: {
        datasets: [
          {
            data: [fatigueLevel, remaining],
            backgroundColor: [
              // rgba(75, 192, 192, 0.6) // rgba(255, 205, 86, 0.6) // rgba(255, 99, 132, 0.6)
              fatigueLevel >= 70
                ? 'rgba(255, 99, 132, 0.6)'
                : fatigueLevel >= 40
                ? 'rgba(255, 205, 86, 0.6)'
                : 'rgba(75, 192, 192, 0.6)',
              'rgba(211, 211, 211, 0.3)', // Light grey for the remaining part
            ],
            borderColor: [
              fatigueLevel >= 70
                ? 'rgba(255, 99, 132, 0.6)'
                : fatigueLevel >= 40
                ? 'rgba(255, 205, 86, 0.6)'
                : 'rgba(75, 192, 192, 0.6)',
              'rgba(211, 211, 211, 0.5)',
            ],
            borderWidth: 1,
            cutout: '80%', // Adjust for doughnut thickness
          },
        ],
      },
      options: {
        responsive: true,
        circumference: 360, // Full circle
        rotation: 270, // Start from top
        plugins: {
          tooltip: {
            enabled: false, // Disable tooltips
          },
          legend: {
            display: false, // Disable legend
          },
          title: {
            display: false, // Disable title
          },
          centerTextPlugin, // Include the custom plugin
        },
        maintainAspectRatio: false,
      },
      fatigueLevel: fatigueLevel,
      stats: [
        {
          name: 'Work Hours',
          value: (Number(work_hour) / 7.5) * 100,
          text: work_hour + ' hours',
        },
        {
          name: 'Sleep Hours',
          value: (sleep_hour / 8) * 100,
          text: sleep_hour + ' hours',
        },
        {
          name: 'Productivity',
          value: productivity,
          text: productivity + '%',
        },
      ],
      lineData: {
        // Line chart data
        labels: [
          '12 AM',
          '2 AM',
          '4 AM',
          '6 AM',
          '8 AM',
          '10 AM',
          '12 PM',
          '2 PM',
          '4 PM',
          '6 PM',
          '8 PM',
        ],
        datasets: [
          {
            label: 'Focus',
            data: [20, 30, 40, 50, 60, 70, 80, 75, 65, 55, 45], // Sample data
            fill: false,
            borderColor: 'rgba(75, 192, 192, 0.6)', // Line color
            tension: 0.1,
          },
        ],
      },
      lineOptions: {
        // Line chart options
        responsive: true,
        plugins: {
          legend: {
            labels: {
              color: 'white', // Legend text color
            },
          },
        },
        scales: {
          x: {
            ticks: {
              color: 'white', // X-axis labels color
            },
            grid: {
              color: 'rgba(255, 255, 255, 0.2)', // X-axis grid line color
            },
          },
          y: {
            beginAtZero: true,
            ticks: {
              color: 'white', // Y-axis labels color
            },
            grid: {
              color: 'rgba(255, 255, 255, 0.2)', // Y-axis grid line color
            },
          },
        },
      },
    };
  },
  methods: {
    startStream() {
      fetch('http://localhost:5000/start-stream', { method: 'POST' })
        .then((response) => {
          console.log('Stream started');
          this.initWebSocket();
        })
        .catch((error) => {
          console.error('Error starting stream:', error);
        });
    },
    endStream() {
      fetch('http://localhost:5000/stop-stream', { method: 'POST' })
        .then((response) => {
          console.log('Stream ended');
          this.closeWebSocket();

          this.tiltAngle = 0;
          this.postureLabel = '';
        })
        .catch((error) => {
          console.error('Error ending stream:', error);
        });
    },
    initWebSocket() {
      this.socket = io('http://localhost:5000');

      this.socket.on('connect', () => {
        console.log('WebSocket connected');
      });

      this.socket.on('data', (data: any) => {
        let json = JSON.parse(data);
        this.tiltAngle = json.pitch;
        this.postureLabel = json.label;
      });
    },
    closeWebSocket() {
      if (this.socket) {
        this.socket.close();
        console.log('WebSocket closed');
      }
    },
  },
  beforeDestroy() {
    this.closeWebSocket();
  },
  async mounted() {
    const response = await fetch('http://localhost:5000/home');
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    const json = await response.json();
    // fatigue_level: 20, productivity: 90, sleep_hour: 8, work_hour: 5}
    this.fatigueLevel = json.fatigue_level;
    this.work_hour = json.work_hour;
    this.sleep_hour = json.sleep_hour;
    this.productivity = json.productivity;
  },
};
</script>
