<template>
    <div class="bg-gray-900 min-h-screen">
        <Navbar/>

        <div class="mx-36 mb-4 mt-8 border-gray-700">
            <div class="bg-gray-800 p-3 rounded-lg">
                <p class="text-gray-400 text-xl mb-5">Notification Preferences</p>
                <div>
                    <label class="my-3 relative inline-flex items-center cursor-pointer">
                        <input type="checkbox" value="" class="sr-only peer" checked>
                        <div class="w-11 h-6  rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-800 bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-blue-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-300">Notify me for a break</span>
                    </label>
                </div>

                <label class="my-3 relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" value="" class="sr-only peer" checked>
                    <div class="w-11 h-6 rounded-full peer peer-focus:ring-4  peer-focus:ring-blue-800 bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all border-gray-600 peer-checked:bg-blue-600"></div>
                    <span class="ms-3 text-sm font-medium  text-gray-300">Weekly Report</span>
                </label>
            </div>
        </div>

        <div class="mx-36 mb-4 mt-8 border-gray-700">
            <div class="bg-gray-800 p-3 rounded-lg">
                <p class="text-gray-400 text-xl mb-5">Languages</p>
                <div>
                    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                        <select id="countries" class=" border border-gray-300  text-sm rounded-lg   block w-full p-2.5 bg-gray-700 dark:border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                        <option selected>Choose a Language</option>
                        <option value="US">English</option>
                        <option value="CA">Mandarin Chinese</option>
                        <option value="FR">Hindi</option>
                        <option value="DE">Spanish</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="mx-36 mb-4 mt-8 border-gray-700">
            <div class="bg-gray-800 p-3 rounded-lg">
                <p class="text-gray-400 text-xl mb-5">Focus Session Configuration</p>
                <div class="my-3">
                    <label for="countries" class="block mb-2 text-sm font-medium text-white">Session Duration</label>
                        <select id="countries" class=" border border-gray-300  text-sm rounded-lg   block w-full p-2.5 bg-gray-700 dark:border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                        <option selected>Select Session Duration</option>
                        <option value="US">1 hour</option>
                        <option value="CA">2 hour</option>
                        <option value="FR">3 hour</option>
                        <option value="DE">4 hour</option>
                    </select>
                </div>

                <div class="my-3">
                    <label for="countries" class="block mb-2 text-sm font-medium text-white">Break Duration</label>
                        <select id="countries" class=" border border-gray-300  text-sm rounded-lg   block w-full p-2.5 bg-gray-700 dark:border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500">
                        <option selected>Select Break Duration</option>
                        <option value="US">10 minutes</option>
                        <option value="CA">20 minutes</option>
                        <option value="FR">30 minutes</option>
                        <option value="DE">40 minutes</option>
                    </select>
                </div>

            </div>
        </div>

    </div>
    
</template>
