<template>
  <div>
    <button @click="startStream">Start Stream</button>
    <button @click="endStream">End Stream</button>
    <p>Data from WebSocket: {{ receivedData }}</p>
  </div>
</template>

<script>
import io from 'socket.io-client';

export default {
  data() {
    return {
      receivedData: '',
    };
  },
  methods: {
    startStream() {
      fetch('http://localhost:5000/start-stream', { method: 'POST' })
        .then((response) => {
          console.log('Stream started');
          this.initWebSocket();
        })
        .catch((error) => {
          console.error('Error starting stream:', error);
        });
    },
    endStream() {
      fetch('http://localhost:5000/stop-stream', { method: 'POST' })
        .then((response) => {
          console.log('Stream ended');
          this.closeWebSocket();
        })
        .catch((error) => {
          console.error('Error ending stream:', error);
        });
    },
    initWebSocket() {
      this.socket = io('http://localhost:5000');

      this.socket.on('connect', () => {
        console.log('WebSocket connected');
      });

      this.socket.on('data', (data) => {
        let json = JSON.parse(data);
        this.receivedData = json.pitch;
      });
    },
    closeWebSocket() {
      if (this.socket) {
        this.socket.close();
        console.log('WebSocket closed');
      }
    },
  },
  beforeDestroy() {
    this.closeWebSocket();
  },
};
</script>
